/* Estilo Inicial */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 1000px 100px;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
}

.main{
    grid-area: main;
   

}

.header{
    grid-area: header;
    text-align: center;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.footer{
    grid-area: footer;
    text-align: center;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;  
}

p{
    display: flex;
    justify-content: center;
    align-items: center;  
    
}

div{
    color: white;
}

.main__bienvenida{
    display: block;
}

.main__ingresoUsuario{
    display: none;
}

.main__nuevoUsuario{
    display: none;
}

.main__simuladorPeso{
    display: none;
}


.main__calculoImc{
    display: none;
}

.main__calculoIca{
    display: none;
}

.main__calculoPesoIdeal{
    display: none;
}



